<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill Format</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="bill_format_style">
    <p style="text-align:center;margin:0;font-weight:bold">GST INVOICE</p>
    <div class="mainDiv">
        <div class="container">
            <div class="item" style="border-right:1px solid">
                <img src="billformatlogo.png" class="logoStyle">
            </div>
            <div class="item1" style="border-right:1px solid">
                <div class="customerNameStyle">MANWELL PHARMACEUTICALS</div>
                <div>FIRST FLOOR,D/F-7,AHLUWALI COMPLEX,</div>
                <div>VILL.FATEHPUR,SECTOR-20,PANCHKULA</div>
                <div>HARYANA Phone : <span>8296526352/9685748596</span></div>
                <div>E-Mail : manwellpharmaccauticlas@gmail.com</div>
                <div class="linesStyle">D.L.NO.: <span>21B-HR-11-3418-W/H / 20B-HR-11-3418</span></div>
                <div>GSTIN : <span>27ZZZZZ0000A1Z5</span></div>
            </div>
            <div class="item2" style="border-right:1px solid">
                <div>TO,PARTH PHARMACEUTICALS</div>
                <div>PLOT NO.13 GROUND FLOOR SHOP NO.1 DAWARKADISH CITY JULE SOLAPUR</div>
                <div style="margin-top:25px">9956635241</div>
                <div>D.L.No.: <span>20B-MH-SOL-383047 21B-MH-SOL-383048</span></div>
                <div>GSTIN : <span>27AAAAA00000A1Z5</span></div>
                <div>DUE DATE : <span>25-07-2023</span></div>
                <div>DUE BAL.: <span>18924.00</span></div>

            </div>
            <div class="item3">
                <div>Inv No. : <span>MP000001</span></div>
                <div>Inv Date : <span>24-07-2023</span></div>
                <div>Rep Name : <span></span></div>
                <div>Mobile No : <span></span></div>
                <div>L.R. NO : <span></span></div>
                <div>L.R. Dt : <span>25-07-2023</span></div>
                <div>No of case : <span>0</span></div>
                <div>Transport : <span></span></div>
                <div>Way Bill No. : <span></span></div>

            </div>
        </div>
        <div class="tableStyle">
            <table>
                <thead>
                <tr>
                    <th class="th_style">MFR</th>
                    <th class="th_style">QTY</th>
                    <th class="th_style">FREE</th>
                    <th class="th_style">ITEM NAME</th>
                    <th class="th_style">PACK</th>
                    <th class="th_style">BATCH</th>
                    <th class="th_style">EXP</th>
                    <th class="th_style">HSN</th>
                    <th class="th_style">M.R.P.</th>
                    <th class="th_style">RATE</th>
                    <th class="th_style">DIS</th>
                    <th class="th_style">IGST</th>
                    <th class="th_style"></th>
                    <th class="th_style">AMOUNT</th>
                    <th class="th_style_end">NET AMOUNT</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="th_style">THEOK</td>
                    <td class="th_style">132</td>
                    <td class="th_style"></td>
                    <td class="th_style">VITNOVIT-L SOFT GEL CAP</td>
                    <td class="th_style">10*10</td>
                    <td class="th_style">ALD3372A</td>
                    <td class="th_style">6/25</td>
                    <td class="th_style">30049099</td>
                    <td class="th_style">1,280.00</td>
                    <td class="th_style">128.00</td>
                    <td class="th_style">0.00</td>
                    <td class="th_style">12.00</td>
                    <td class="th_style">0.00</td>
                    <td class="th_style">18,932.52</td>
                    <td class="th_style_end">18,932.52</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="containerNew">
            <div class="ite">
                <div>FLASH : <span></span></div>
            </div>
            <div class="ite">
                <div>MRP VALUE TOTAL : <span>1,68,960.00</span></div>
            </div>
        </div>
        <div class="containerBottom">
            <div class="bottomItem">
                <div class="containerBottomInside">
                    <div class="bottomItemInside">
                        <div class="bottom_table_style">
                            <table>
                                <thead>
                                <tr>
                                    <th class="th_style">CLASS</th>
                                    <th class="th_style">SUB TOTAL</th>
                                    <th class="th_style">SCHEME</th>
                                    <th class="th_style">DISCOUNT</th>
                                    <th class="th_style">IGST</th>
                                    <th class="th_style"></th>
                                    <th class="th_style">TOTAL IGST</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="th_style">IGST 5%</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                </tr>
                                <tr>
                                    <td class="th_style">IGST 12%</td>
                                    <td class="th_style">16,896.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">2,027.52</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">2,027.52</td>
                                </tr>
                                <tr>
                                    <td class="th_style">IGST 5%</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                </tr>
                                <tr>
                                    <td class="th_style">IGST 5%</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                    <td class="th_style">0.00</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th class="th_style">SUB TOTAL</th>
                                    <th class="th_style">16,896.00</th>
                                    <th class="th_style">0.00</th>
                                    <th class="th_style">0.00</th>
                                    <th class="th_style">2,027.52</th>
                                    <th class="th_style">0.00</th>
                                    <th class="th_style">2,027.52</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                    <div class="bottomItemInside1">

                    </div>
                </div>
                <div style="border-top:1px solid;padding:5px">Rs. Eighteen Thousand Nine Hundred Twenty Four Only</div>
            </div>
            <div class="bottomItem1" style="border-left:1px solid">
                <div class="displayFlexStyle" style="border-bottom:1px solid">
                    <div>SUB TOTAL</div>
                    <div class="marginLeftStyle">16,896.00</div>
                </div>
                <div class="displayFlexStyle">
                    <div>DISCOUNT</div>
                    <div class="marginLeftStyle">0.00</div>
                </div>
                <div class="displayFlexStyle">
                    <div>IGST PAYABLE</div>
                    <div class="marginLeftStyle">2,027.52</div>
                </div>
                <div class="displayFlexStyle">
                    <div>PAYABLE</div>
                    <div class="marginLeftStyle">0.00</div>
                </div>
                <div class="displayFlexStyle">
                    <div>CR/DR NOTE</div>
                    <div class="marginLeftStyle">0.00</div>
                </div>
                <div class="displayFlexStyle" style="border-top:1px solid;background-color:#c2fafa">
                    <div>GRAND TOTAL</div>
                    <div class="marginLeftStyle">18,924.00</div>
                </div>
            </div>
        </div>
        <div class="lastContainer">
            <div class="lastItem1">
                <div>Tearms & Conditions</div>
                <div>Goods once sold will not be taken back or exchanged.</div>
                <div>Bills not paid due date will attract 24% interest.</div>
                <div>All disputes subject to PANCHKULA jurisdication only.</div>
            </div>
            <div class="lastItem2">
                <div style="color:#3e348d;font-weight:600">BANK DETAILS</div>
                <div style="color:#3e348d;font-weight:600">Bank Name : <span>Kotak Mahindra Bank</span></div>
                <div style="color:#3e348d;font-weight:600">A/C No. : <span>9864564565446</span></div>
                <div style="color:#3e348d;font-weight:600">IFSC Code : <span>KKKID00007</span></div>
                <div style="color:#3e348d;font-weight:600">Branch : <span>PANCHKULA</span></div>
            </div>
            <div class="lastItem3">
                <div>RECEIVER</div>
            </div>
            <div class="lastItem4">
                <div>For MANWELL PHARMACEUTICALS</div>
                <div>Authorised signatory</div>
            </div>
        </div>

    </div>
</div>
</body>
</html>