/* Label Style Start */
.label {
	-fx-font-family: 'Arial';
	-fx-font-size: 11px;
	-fx-text-fill: #000000;
}

/* Label Style End */
.check-box {
	-fx-font-family: 'Arial';
    -fx-font-size: 11px;
    -fx-text-fill: #000000;

}
.radio-button {
	-fx-font-family: 'Arial';
    -fx-font-size: 11px;
    -fx-text-fill: #000000;
}


/* Textfield Start */
.text-field {
	-fx-font-family: "Arial";
	-fx-background-color: #fff;
	-fx-border-color: #99a3ac;
	-fx-border-width: 1px;
	-fx-font-size: 11px;
	-fx-pref-height: 24px;
	-fx-pref-width: 100px;
	-fx-border-radius: 4px;
	/*-fx-padding: 5px;*/
}

.text-field:focused {
	-fx-border-width: 2px !important;
	-fx-background-color: #fff9c4 !important;
	-fx-border-color: #00a0f5 !important;

	-fx-font-family: "Arial";
    	-fx-font-size: 11px;
    	-fx-pref-height: 24px;
    	-fx-pref-width: 100px;
    	-fx-border-radius: 4px;

}

/*.text-field:hover {
  -fx-background-color: #fff9c4;
  -fx-border-width: 1px;
  -fx-border-color: #99a3ac;
}*/
/* Textfield End */

/* Combobox Start */
.combo-box {
	-fx-background-color: #fff;
	-fx-border-color: #99a3ac;
	-fx-border-radius: 4px;
	-fx-font-size: 11px;
	-fx-pref-height: 24px;
	-fx-pref-width: 100px;
	-fx-border-width: 1px;
}

.combo-box .text-input {
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-border-color: transparent;
}

.combo-box:focused {
	-fx-background-color: #fff9c4 !important;
	-fx-border-color: #00a0f5 !important;
	-fx-border-width: 2px !important;

    	-fx-border-radius: 4px;
    	-fx-font-size: 11px;
    	-fx-pref-height: 24px;
    	-fx-pref-width: 100px;
}

.combo-box:hover {
	-fx-background-color: #fff9c4;
}

.combo-box-popup {
	-fx-background-color: #fff;
	-fx-border-color: #ccc;
	-fx-border-radius: 0px;
	-fx-pref-height: 100px;
	-fx-pref-width: 300px;
}

.combo-box-popup .list-cell {
	-fx-text-fill: #333333;
	-fx-font-size: 11px;
	-fx-padding: 5px;
}

.combo-box-popup .list-cell:hover {
	-fx-background-color: #b3e4ff;
}

.combo-box-popup .list-view .list-cell:selected {
	-fx-background-color: #00a0f5;
	-fx-text-fill: white;
}

/* Combobox End */

/* Submit Btn Start */
.submit-btn {
	-fx-font-family: "Arial";
	-fx-pref-height: 24px;
	-fx-font-size: 11px;
	-fx-pref-width: 60px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
	-fx-font-weight: bold;
}

.submit-btn:hover,
.submit-btn:focused {
	-fx-border-width: 2px;
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-cursor: hand;
}

/* Submit Btn End */

/* Cancel Btn Start */
.cancel-btn {
	-fx-font-family: "Arial";
	-fx-pref-height: 24px;
	-fx-font-size: 11px;
	-fx-pref-width: 60px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
}

.cancel-btn:hover,
.cancel-btn:focused {
	-fx-border-width: 2px;
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-cursor: hand;
}

/* Cancel Btn End */

/* Convert btn */
.convert_btn_style {
	-fx-font-family: "Arial";
	-fx-pref-height: 24px;
	-fx-pref-width: 60px;
	-fx-font-size: 11px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
}

.convert_btn_style:hover,
.convert_btn_style:focused {
	-fx-border-width: 2px;
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-cursor: hand;
}

/* Convert btn */

#add_charges {
	-fx-font-family: "Arial";
	-fx-pref-height: 24px;
	-fx-background-color: white;
	-fx-text-fill: #4d4d4d;
	-fx-font-weight: bold;
	-fx-border-color: #ccc;
	-fx-border-width: 1px;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-cursor: hand;
	-fx-font-size: 11px;
}

#add_charges:hover,
#add_charges:focused {
	-fx-border-color: #00a0f5;
	-fx-background-color: #fff9c4;
	-fx-border-width: 2px;
	-fx-cursor: hand;
}


/* Tableview Start */
.table-view .column-header,
.table-view .column-header-background .filler {
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
	-fx-alignment: CENTER_LEFT;
	-fx-pref-height: 35px;
	-fx-padding: 0px;
}

.table-view .table-cell {
	-fx-font-size: 11px;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 0 0 0 0;
	-fx-cell-size: 30px;
	/* Set cell height */
}

.table-view .cell {
	-fx-cell-size: 30px;
	/* Set cell height */
}

.table-row-cell:odd,
.table-row-cell:even {
	-fx-background-color: #f6f6f9;
	-fx-border-color: transparent transparent #e0e0e1 transparent;
	/* Adjust border color as needed */
	-fx-border-width: 0 0 1 0;
	/* Adjust border width as needed */
}

.table-column {
	-fx-border-color: transparent #e0e0e1 transparent transparent;
	/* Adjust border color as needed */
	-fx-border-width: 0 1 0 0;
	/* Adjust border width as needed */
}

.table-view:focused {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 1, 1;
}

.table-view:hover {
	-fx-cursor: hand;
}

/*
#table_textfield {
    -fx-background-color: yellow;
    -fx-text-fill: blue;
} */

/* Tableview End */

/* TabPane style Start */
.tab-pane {
-fx-background-color: #e9f7fd
}

.tab-pane .tab-header-background {
	-fx-background-color: #e9f7fd;
	/* Change to whatever color you prefer */
}

.tab-pane .tab {
	-fx-background-color: #e9f7fd !important;
	/* Set the background color of non-selected tabs */
	-fx-text-fill: black;
	-fx-font-size: 11px;
    	-fx-font-weight: 700;
    	-fx-border-width:0 0 1 0;
    	-fx-border-color:#dcdcdc;
	/* Set the text color of non-selected tabs */
}

.tab-pane .tab:selected {
	-fx-background-color: #d9f0fb !important;
	-fx-border-color: #c7dbe4;
	-fx-border-radius: 4
}

.tab-pane .tab:hover {
	-fx-background-color: #d9f0fb !important;
}

#topMainDiv {
	-fx-padding: 6px;
}

#tabMianDiv {
	-fx-padding: 10px
}

 #vboxSwitchMain{
 -fx-pref-height: 22;
 -fx-max-height: 22;
 -fx-min-height: 22;
 }
 #tfDisPer{
 -fx-pref-width:60px;
 }
 #payModeCombo{
 -fx-pref-width:80px;
 }
 #counterSaleMainTab{
 -fx-padding:0 5 5 5;
 }
 #cusumerMainTab{
 -fx-padding: 4 5 5 5;
 }


#counterSaleBottomTableStyle {
	-fx-padding: 0px;
	-fx-pref-height:150px;
	/* Adjust the padding as needed */
}

#counterSaleBottomTableStyle .column-header .label {
	-fx-font-family: 'Arial';
	-fx-text-fill: black;
	-fx-alignment: CENTER-LEFT;
}

#counterSaleBottomTableStyle .column-header,
#counterSaleBottomTableStyle .column-header .filler,
#counterSaleBottomTableStyle .column-header-background .filler {
	-fx-background-color: #d9d9d9;
	-fx-font-size: 11px;
	-fx-alignment: CENTER;
	-fx-font-weight: bold;
	-fx-padding:0 0 0 10;
}

#counterSaleBottomTableStyle .table-cell {
	-fx-font-family: 'Arial';
	-fx-font-size: 11px;
	-fx-alignment: CENTER_LEFT;
}

#counterSaleBottomTableStyle .cell {
	-fx-cell-size: 25;
}

#counterSaleBottomTableStyle .column-header {
	-fx-alignment: CENTER_LEFT;
}

#counterSaleBottomTableStyle .table-cell {
	-fx-border-color: transparent;
	-fx-padding: 1 1 1 10;
}

#counterSaleBottomTableStyle .table-row-cell:odd {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}

#counterSaleBottomTableStyle .table-row-cell:even {
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em;
}

#counterSaleBottomTableStyle .table-row-cell:odd,
#counterSaleBottomTableStyle .table-row-cell:even {
	-fx-background-color: white;
	-fx-border-color: transparent transparent #e6e5e5 transparent;
	/* Adjust border color as needed */
	/*-fx-border-width: 0 0 1 0;*/
	/* Adjust border width as needed */
}

#counterSaleBottomTableStyle .table-row-cell:selected {
	-fx-background-color: #E1E0E0;
	-fx-text-background-color: black;
}

#counterSaleBottomTableStyle:focused {
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
}

#counterSaleBottomTableStyle:hover {
	-fx-cursor: hand;
}


/* Franchise Dashboard Style Start */
.firstBox {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 1, 1);
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F6F6F9, #F6F6F9), #FFF;
	-fx-background-radius: 6;
	-fx-border-radius: 6;
}

.imageView {
	-fx-border-radius: 6px;
	-fx-background-radius: 6px;
}

.prevBtnStyle {
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-background-color: rgba(0, 0, 0, 0.10);
}

.nextBtnStyle {
	-fx-border-radius: 20px;
	-fx-background-radius: 20px;
	-fx-background-color: rgba(0, 0, 0, 0.10);
}


.topFrText {
	-fx-text-fill: #000;
	-fx-font-family: "Arial";
	-fx-font-size: 12px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
}

.viewAllStyle {}

.viewAllStyle:hover {
	-fx-border-width: 1px;
	-fx-border-color: #dcdcdc;
	-fx-background-color: #f3f3f3;
	-fx-padding: 8px;
	-fx-text-fill: #000;
}

.innerLabel {
	-fx-text-fill: #5C5C5C;
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
	-fx-font-style: normal;
	-fx-font-weight: bold;
}

.greenBtnStyle {
	-fx-background-color: #21C78A;
	-fx-background-radius: 6;
	-fx-effect: dropshadow(gaussian, rgba(0, 222, 163, 0.06), 0, 6, 16, 0);
	/*-fx-effect: dropshadow(gaussian, transparent, 0, 0, 7.5, 7.5);*/
	-fx-font-family: "Arial";
	-fx-text-fill: white;
	-fx-font-size: 11px;

}

.whiteBtnStyle {
	-fx-border-radius: 6px;
	-fx-border-width: 1px;
	-fx-border-color: #D9D9D9;
	-fx-background-radius: 6;
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: #232927;
	-fx-alignment: center;
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
	-fx-font-style: normal;
}

.middleCards {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 1, 1);
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F6F6F9, #F6F6F9), #FFF;
	-fx-background-radius: 6;
	-fx-padding: 6;
}

.bottomCards {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 1, 1);
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #F6F6F9, #F6F6F9), #FFF;
	-fx-background-radius: 6;
	-fx-padding: 2, 10, 2, 10;
}

.bottomCardTitleStyle {
	-fx-text-fill: #000;
	/* JavaFX uses -fx-text-fill instead of color */
	-fx-alignment: center;
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
	-fx-font-style: normal;
	-fx-font-weight: 500;
}

.bottomCardSubTitleStyle {
	-fx-text-fill: #000;
	/* JavaFX uses -fx-text-fill instead of color */
	-fx-alignment: center;
	-fx-font-family: "Arial";
	-fx-font-size: 10px;
	-fx-font-style: normal;
	-fx-font-weight: 500;
	-fx-opacity: 0.5;
}

.bottomSingleCardStyle {
	-fx-text-fill: #818A92;
	/* JavaFX uses -fx-text-fill instead of color */
	-fx-font-family: "Arial";
	-fx-font-size: 10px;
	-fx-font-style: normal;
	-fx-font-weight: 400;
}

/*  */
.combo-box {
	-fx-background-color: #fff;
	-fx-border-color: #ccc;
	-fx-border-radius: 2px;
	-fx-pref-height: 30px;
	-fx-border-width: 1px;
}

.combo-box .text-input {
	-fx-background-color: transparent;
	-fx-border-radius: 0px;
	-fx-border-color: transparent;
}

.combo-box:focused {
	-fx-background-color: #fff9c4;
	-fx-border-color: #00a0f5;
	-fx-border-width: 2px;
}

.combo-box-popup {
	-fx-background-color: #fff;
	-fx-border-color: #ccc;
	-fx-border-radius: 0px;
	-fx-pref-height: 100px;
	-fx-pref-width: 300px;
}


.combo-box-popup .list-cell {
	-fx-text-fill: #333333;
	-fx-font-size: 11px;
	-fx-padding: 5px;
}


.combo-box-popup .list-cell:hover {
	-fx-background-color: #b3e4ff;
}

.combo-box-popup .list-view .list-cell:selected {
	-fx-background-color: #00a0f5;
	-fx-text-fill: white;
}

.combo-box .arrow-button {
	-fx-background-color: transparent;
	-fx-min-width: 20px;
	-fx-min-height: 20px;
}

/*  */


/*  */
.tab-pane {}

.tab-pane .tab-header-background {
	/*-fx-background-color: #e9f7fd;*/
}

.tab-pane .tab {
	-fx-background-color: #e9f7fd !important;
	/* Set the background color of non-selected tabs */
	-fx-text-fill: black;
	/* Set the text color of non-selected tabs */
}

.longTab {
	-fx-pref-width: 200px;
}

.tab-pane .tab:selected {
	-fx-background-color: #d9f0fb !important;
	-fx-border-color: #c7dbe4;
	-fx-border-radius: 4
}

.tab-pane .tab:hover {
	-fx-background-color: #d9f0fb !important;
}

/*  */


.normal-indicator {
	-fx-background-color: #fff;
	-fx-opacity: 0.5;
}

.selected-indicator {
	-fx-background-color: #fff;
	-fx-opacity: 1;
}

.btnPurStyle {
	-fx-background-color: #21C78A;
	-fx-background-radius: 6;
	-fx-effect: dropshadow(gaussian, rgba(0, 222, 163, 0.06), 0, 6, 16, 0);
	-fx-font-family: "Arial";
	-fx-text-fill: #fff;
	-fx-font-size: 11px;
}

.btnSaleStyle {
	-fx-border-radius: 6px;
	-fx-border-width: 1px;
	-fx-border-color: #D9D9D9;
	-fx-background-radius: 6;
	-fx-background-color: #fff;
	-fx-text-fill: #232927;
	-fx-font-family: "Arial";
	-fx-font-size: 11px;
}

/* Hide the TableView header */
/*#frCommonTableDesign .column-header-background {
	-fx-background-color: transparent;
	*//* Make the background transparent *//*
	-fx-border-width: 0px;
	*//* Remove border *//*
}

#frCommonTableDesign .column-header {
	-fx-background-color: transparent;
	*//* Make the background transparent *//*
	-fx-border-width: 0px;
	*//* Remove border *//*
}

#frCommonTableDesign .filler {
	-fx-background-color: transparent;
	*//* Make the background transparent *//*
}

*//* Remove the border around the TableView *//*
#frCommonTableDesign {
	-fx-background-color: transparent;
	*//* Make the background transparent *//*
	-fx-border-color: transparent;
	*//* Remove border color *//*
	-fx-border-width: 0px;
	*//* Remove border width *//*
}

*//* Optional: Adjust the border color and width *//*
#frCommonTableDesign .table-row-cell,
#frCommonTableDesign .table-cell {
	-fx-border-color: transparent transparent transparent transparent;
	*//* Light gray bottom border *//*
	-fx-border-width: 0 0 0 0;
	*//* 1 pixel bottom border *//*
}

*//* Optional: Adjust the padding of the cells to fit the content more tightly *//*
#frCommonTableDesign .table-cell {
	-fx-padding: 5px;
	*//* Adjust the padding as needed *//*
}

*//* Add background color to the selected row when focused *//*
#frCommonTableDesign .table-row-cell:focused,
#frCommonTableDesign .table-row-cell:selected {
	-fx-background-color: #E1E0E0;
	-fx-text-fill: black; *//* Ensure text color remains black *//*
}

*//* Optional: Additional styling for selected cell *//*
#frCommonTableDesign .table-cell:focused,
#frCommonTableDesign .table-cell:selected {
	-fx-background-color: #E1E0E0;
	-fx-text-fill: black; *//* Ensure text color remains black *//*
}

#carousalsImagesStyle {
	-fx-background-radius: 6;
	*//* Adjust the radius as needed *//*
	-fx-border-radius: 6;
	*//* Adjust the radius as needed *//*
	-fx-background-insets: 0;
	*//* Optional: Adjust insets if necessary *//*
}*/

#frCommonTableDesign {
    -fx-padding: 0px;
    /* Adjust the padding as needed */
}

#frCommonTableDesign .column-header .label {
    -fx-font-family: 'Arial';
    -fx-text-fill: black;
    -fx-alignment: CENTER-LEFT;
}

#frCommonTableDesign .column-header,
#frCommonTableDesign .column-header .filler,
#frCommonTableDesign .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-font-size: 0;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}

#frCommonTableDesign .table-cell {
    -fx-font-family: 'Arial';
    -fx-font-size: 11px;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent;
    -fx-padding: 2 2 2 2;
}

#frCommonTableDesign .cell {
    -fx-cell-size: 35;
}

#frCommonTableDesign .column-header {
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent;  /* Ensure no border is shown */
}

#frCommonTableDesign .table-row-cell:odd {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

#frCommonTableDesign .table-row-cell:even {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

#frCommonTableDesign .table-row-cell:odd,
#frCommonTableDesign .table-row-cell:even {
    -fx-background-color: white;
    -fx-border-color: transparent;  /* Ensure no border is shown */
    /* Adjust border color as needed */
    /*-fx-border-width: 0 0 1 0;*/
    /* Adjust border width as needed */
}

#frCommonTableDesign .table-row-cell:selected {
    -fx-background-color: #E1E0E0;
    -fx-text-background-color: black;
}

#frCommonTableDesign:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}

#frCommonTableDesign:hover {
    -fx-cursor: hand;
}

/* Hide the table header */
#frCommonTableDesign .column-header,
#frCommonTableDesign .column-header-background,
#frCommonTableDesign .column-header-background .filler,
#frCommonTableDesign .column-header .filler {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-font-size: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-border-color: transparent; /* Ensure no border is shown */
}





#carousalsImagesStyle {
	-fx-background-radius: 6;
	/* Adjust the radius as needed */
	-fx-border-radius: 6;
	/* Adjust the radius as needed */
	-fx-background-insets: 0;
	/* Optional: Adjust insets if necessary */
}



#carousalsImagesStyle {
	-fx-background-radius: 6;
	/* Adjust the radius as needed */
	-fx-border-radius: 6;
	/* Adjust the radius as needed */
	-fx-background-insets: 0;
	/* Optional: Adjust insets if necessary */
}
#cmbTranxFilter{
-fx-pref-width:100px;
}
#forRemovePadding{
-fx-padding:0px;
}
/* End */